<configuration>
    <property name="LOGGING_PATTERN" value="%-5(%d{HH:mm:ss.SSS} [%thread]) %class{10} %-5level %logger{36} - %msg%n"/>
    <property name="FILE_NAME" value="vinyl.log"/>
    <property name="FILE_NAME_PATTERN" value="vinyl-%d{yyyy-MM-dd}.%i.log"/>
    <property name="FILTER_LEVEL" value="info"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILTER_LEVEL}</level>
        </filter>

        <encoder>
            <pattern>${LOGGING_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_NAME}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILTER_LEVEL}</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_NAME_PATTERN}</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOGGING_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>